<!DOCTYPE HTML>
<html>
<head>
    <title>Websocket Timer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();

        socket.on('connect', function() {
            socket.emit('my_event', {data: 'I\'m connected!'});
            document.getElementById('timer').innerText = '00:00:00'
        });

        socket.on('my_response', function(msg, cb) {
            let timer = document.getElementById('timer');
            let d = (new Date((Number(msg.timer) || 0) * 1000));
            timer.innerText = d.toISOString().split('T')[1].slice(0, 8)
        });

        var start_time;
        window.setInterval(function() {
            start_time = (new Date).getTime();
            $('#transport').text(socket.io.engine.transport.name);
            socket.emit('my_ping');
        }, 1000);

        socket.on('my_pong', function() {
            var latency = (new Date).getTime() - start_time;
            $('#ping-pong').text(latency);
        });

        socket.on('timer_event', function(msg, cb) {
            console.log(msg)
            // alert('timer_event');

            const toFormatString = (d) => {
                return d.toLocaleString(undefined, {
                    year: 'numeric', month: '2-digit', day: '2-digit',
                    hour: '2-digit', hour12: false, minute:'2-digit', second:'2-digit'
                })
            }

            let table = document.body.querySelector('table');
            let row = table.insertRow();
            
            for (let key in msg) {
                let cell = row.insertCell()
                if (key === 'timestamp') {
                    let date = new Date(msg[key])
                    cell.innerText = `${date.toLocaleDateString()} ${date.toLocaleTimeString()}`
                } else {
                    cell.innerText = msg[key]
                }
            }
        });

        $(function() {
            $('form').submit(function(e) {
                var $form = $(this);
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    // data: $form.serialize()
                    data: {
                        timestamp: (new Date()).toISOString(),
                        value: document.getElementById('timer').innerText,
                        event: $("#startStopBtn").val(),
                    }
                }).done(function() {
                    // console.log('success');
                    let btn = document.getElementById('startStopBtn');
                    btn.setAttribute(
                        'value',
                        btn.getAttribute('value') == 'Start' ? 'Stop' : 'Start'
                    );
                }).fail(function() {
                    // console.log('fail');
                });
                e.preventDefault();
            });
        });
    </script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    <h1>Websocket Timer</h1>
    <p>Latency: <b><span id="ping-pong"></span>ms</b></p>
    
    <h2 id="timer"></h2>

    <form action="toggle" method="post">
        <input type="submit" value="Start" id="startStopBtn">
    </form>

    <table id="events">
        <tr>
            <th>Timestamp</th>
            <th>Timer</th>
            <th>Event</th>
        </tr>
    </table>
</body>
</html>